html {
  font-family: Roboto, sans-serif;
  width: 100%;
  padding: 10px;
  justify-content: center;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

form {
  border-radius: 5px;
  height: 19rem;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 25rem;
  background-color: rgb(0, 127, 255);
  color: white;
}

.inputsIniciais {
  font-size: large;

  height: 20px;
  padding: 15px;
}

.inputsIniciais {
  display: block;
}

.botoes {
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 10rem;
  font-size: 12rem;
  gap: 10px;
  height: 30px;
}

.botoes button {
  border: none;
  background-color: rgb(70, 70, 255);
  color: white;
  border-radius: 5px;
}

.botoes button:hover{
  background-color: black;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.botoes button:active{
  border: 1px solid black;
}




table {
  border-collapse: collapse;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}